html {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust:100%;
    font-size: 10px;
    -webkit-tap-highlight-color:rgba(0, 0, 0, 0);
    display: block;
}

* {
    box-sizing: border-box;
}

body {
    margin:0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.42857143;
    color: #333;
    background-color:#fff;
    display: block;
    overflow: auto;
}

.form-popup {
    display: none;
    position: fixed;
    top: 30%;
    right: 30%;
    left: 30%;
    align-items: center;
    border: 1px solid #1976D2;
    background-color: white;
    z-index: 9;
    
  }

  .form-container {
    padding: 10px;
    background-color: white;
  }

  .form-container input[type=text], .form-container input[type=number] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
  }
  
  .form-container input[type=text]:focus, .form-container input[type=number]:focus {
    background-color: #ddd;
    outline: none;
  }
  
  .form-container .btn {
    background-color: #1976D2;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
    font-size: 15px;
    font-weight: bold;
  }
  

  .open-button {
    background-color: #1976D2;
    color: white;
    font-size: 15px;
    font-weight: bold;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    top: 180px;
    right: 104px;
    width: 280px;
  }

.button-table, .button-tag{
    color: white;
    font-size: 14px;
    font-weight: bold;
    border: none;
    padding: 5px 10px;
    opacity: 0.7;
}
.button-table{
    background-color: #1976D2;
}

.button-tag{
    background-color: rgb(87, 169, 250);
}

.button-tag:hover{
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAQAAAC1+jfqAAAAqklEQVR4XqWRMQ6DMAxF/1Fyilyj2SmIBUG5QcTCyJA5Z8jGhlBPgRi4TmoDraVmKFJlWYrlp/g5QfwRlwEVNWVa4WzfH9jK6kCkEkBjwxOhLghheMWMELUAqqwQ4OCbnE4LJnhr5IYdqQt4DJQjhe9u4vBBmnxHHNzRFkDGjHDo0VuTAqy2vAG4NkvXXDHxbGsIGlj3e835VFNtdugma/Jk0eXq0lP//5svi4PtO01oFfYAAAAASUVORK5CYII=");
    background-repeat: no-repeat;
    background-position-x: left;
}

.button-table:hover, .button-tag:hover{
    opacity: 1;
}


  .form-container .cancel {
    background-color: #448AFF;
  }
  
  .form-container .btn:hover, .open-button:hover {
    opacity: 1;
  }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display:block
}

.page-header {
    padding-bottom: 9px;
    margin: 40px 0 20px;
    border-bottom: 1px solid #eee;
    box-sizing: border-box;
}

.container {
    width: 90%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}



.div {
 display: block;
}

a {
    background-color:transparent
}

a:active, a:hover {
    outline:0
}


b, strong {
    font-weight:700
}


h1 {
    margin: .67em 0;
    font-size:2em
}



table {
    border-spacing: 0 5px;
    border-collapse: separate;
    width: 100%;
}

td, th {
    padding:6;
    width: 100%;
}

table tbody tr {
    cursor: pointer;
    border-radius: 10px;
    z-index:0;
    position: relative;
}

table tbody tr:hover{
    box-shadow: 0 12px 10px 0 rgba(0,0,0,0.15);
    z-index: 100;
}

a {
    color: #337ab7;
    text-decoration:none
}

a:focus, a:hover {
    color: #23527c;
    text-decoration:underline
}

a:focus {
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset:-2px
}


.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: inherit;
    font-weight: 100;
    line-height: 1.1;
    color:inherit
}



.h1, .h2, .h3, h1, h2, h3 {
    margin-top: 20px;
    margin-bottom:10px
}


.h1, h1 {
    font-size:36px
}

.h2, h2 {
    font-size:30px
}

.navbar-default .navbar-nav > li > a {
    color: #777;
    line-height: 20px;
}

.navbar-nav > li > a {
    padding-top: 15px;
    padding-bottom: 15px;
}

.nav > li > a {
    position: relative;
    display: block;
    padding: 10px 15px;
}
li {
    text-align: -webkit-match-parent;
}

.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    box-sizing: border-box;
}

.container-fluid:before, .navbar-collapse:before {
    display: table;
    content: " ";
}

.container-fluid::after, .navbar-collapse:after {
    clear: both;
    display: table;
    content: " ";
}


.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #e7e7e7;
}

.container-fluid > .navbar-collapse, .container-fluid > .navbar-header, .container > .navbar-collapse, .container > .navbar-header {
    margin-right: 0;
    margin-left: 0;
}

.navbar-collapse.collapse {
    display: block !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
}

.navbar-collapse {
    width: auto;
    border-top: 0;
    box-shadow: none;
    padding-right: 15px;
    padding-left: 15px;
    -webkit-overflow-scrolling: touch;
    border-top: 1px solid transparent;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1);
    box-shadow:inset 0 1px 0 rgba(255, 255, 255, .1)
}



.nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style:none
}

.nav > li {
    position: relative;
    display:block
}

.nav > li > a {
    position: relative;
    display: block;
    padding:10px 15px
}


.nav > li > a:focus, .nav > li > a:hover {
    text-decoration: none;
    background-color:#eee
}


.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 20px;
    border:1px solid transparent
}

@media (min-width: 768px) {
    .navbar {
        border-radius:4px
    }
}



@media (min-width: 768px) {
    .container-fluid > .navbar-collapse, .container-fluid > .navbar-header, .container > .navbar-collapse, .container > .navbar-header {
        margin-right: 0;
        margin-left:0
    }
}


@media (min-width: 768px) {
    .navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
        margin-left:-15px
    }
}



.navbar-nav {
    margin:7.5px -15px
}

.navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height:20px
}


@media (min-width: 768px) {
    .navbar-nav {
        float: left;
        margin:0
    }

    .navbar-nav > li {
        float:left
    }

    .navbar-nav > li > a {
        padding-top: 15px;
        padding-bottom:15px
    }
}




@media (min-width: 768px) {
    .navbar-left {
        float:left !important
    }

    .navbar-right {
        float: right !important;
        margin-right:-15px
    }

    .navbar-right ~ .navbar-right {
        margin-right:0
    }
}

.navbar-default {
    background-color: #f8f8f8;
    border-color:#e7e7e7
}



.navbar-default .navbar-nav > li > a {
    color:#777
}

.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
    color: #333;
    background-color:transparent
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
    color: #555;
    background-color:#e7e7e7
}

.navbar-default .navbar-nav > .disabled > a, .navbar-default .navbar-nav > .disabled > a:focus, .navbar-default .navbar-nav > .disabled > a:hover {
    color: #ccc;
    background-color:transparent
}

button .btn .btn-form{
    align-items: center;
}

.themed-grid-col {
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: rgba(138, 126, 156, 0.15);
    border: 1px solid rgba(86, 61, 124, .2);
}

.col-sm-8 {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.form-inline {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -ms-flex-align: center;
    align-items: center;
}
.form-control .mr-sm-2 input{
    border: 1px solid rgb(107, 105, 105);
}

.mb-2, .my-2 {
    margin-bottom: .5rem!important;
    
}
.mt-2, .my-2 {
    margin-top: .5rem!important;
}

.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

@media (min-width: 576px) {
.form-inline .form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle;
    }
}

@media (min-width: 576px){
.mr-sm-2, .mx-sm-2 {
    margin-right: .5rem!important;
    border: 1px solid rgb(100, 100, 100);
}
}

.btn-secondary {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}

@media (min-width: 576px){
.mt-sm-0, .my-sm-0 {
    margin-top: 0!important;
    margin-bottom: 0!important;
    }
}

.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}

form input[type=search] {
      border:solid 3px #fff;
      box-sizing:border-box;
      font-size:16px;
      height:1em;
      margin-left:-15vw;
      padding-top: 15px;
      padding-bottom: 15px;
      /*transition:all 2s ease-in;*/
      width:30vw;
      z-index:1;
  }

  /*form input[type=search]:focus {
    border:solid 3px #09f;      
    outline:solid #fc0 2000px;
  }*/
    .search-form {
        display: none;
        position: relative;
        align-items: center;
        align-self: center;
        border: 1px solid #1976D2;
        background-color: white;
        z-index: 9;
        width: 70%;
        margin-left: auto;
        margin-right: auto;
      }

      .form-container-search {
        padding: 10px;
        background-color: white;
        margin-left: auto;
        margin-right: auto;
        position: relative;
      }
    
      .form-container-search input[type=text], .form-container-search input[type=number] {
        width: 80%;
        padding: 15px;
        border: none;
        margin: 5px 0 22px 100px;
        background: #f1f1f1;
      }
      
      .form-container-search input[type=text]:focus, .form-container-search input[type=number]:focus {
        background-color: #ddd;
        outline: none;
      }

      .form-container-search label{
          text-align: left;
          padding: 10px;
          margin-left: 100px;
      }
      
      .form-container-search .btn {
        background-color: #1976D2;
        color: white;
        padding: 16px 10px;
        border: none;
        cursor: pointer;
        width: 80%;
        margin-bottom:10px;
        opacity: 0.8;
        font-size: 15px;
        font-weight: bold;
        margin-left: 100px;
      }
      
      .form-container-search input[type=date], .form-container-search select{
        width: 80%;
        padding: 15px;
        margin: 5px 0 10px 100px;
        border: none;
        background: #f1f1f1;
        font-size: 15px;
      }

      .form-container-search input[type=date]{
        margin: 5px 0 10px 5px;
      }

      .form-container-search select{
        margin: 5px 0 10px 100px;
      }

      .search-table td{
          width: 100px;
          margin: 5px 0 22px 0;
      }

      .search-table label{
        text-align: left;
        padding: 10px;
        margin: 0;
    }

      .search-table {
        border-spacing: 0 5px;
        border-collapse: separate;
        width: 80%; 
        padding: 10px;
        margin-left: 100px;
      }
      
      .button-tag-search:hover{
        /*background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAQAAAC1+jfqAAAAqklEQVR4XqWRMQ6DMAxF/1Fyilyj2SmIBUG5QcTCyJA5Z8jGhlBPgRi4TmoDraVmKFJlWYrlp/g5QfwRlwEVNWVa4WzfH9jK6kCkEkBjwxOhLghheMWMELUAqqwQ4OCbnE4LJnhr5IYdqQt4DJQjhe9u4vBBmnxHHNzRFkDGjHDo0VuTAqy2vAG4NkvXXDHxbGsIGlj3e835VFNtdugma/Jk0eXq0lP//5svi4PtO01oFfYAAAAASUVORK5CYII=");*/
        background-repeat: no-repeat;
        background-position-x: left;
        opacity: 1;
      }
      
      .button-tag-search{
        color: white;
        font-size: 14px;
        font-weight: bold;
        border: none;
        padding: 5px 10px;
        opacity: 0.7;
        background-color: rgb(87, 169, 250);
      }

      .tagsTable table{
        border-spacing: 0 5px;
        border-collapse: separate;
        min-width: 100px;
        position: relative;
    }
    .tagsTable td{
        width: 50px;
        margin: 5px 0 22px 0;
    }

    .search-table-tags {
        border-spacing: 0 5px;
        border-collapse: separate;
        width: 80%; 
        padding: 10px;
      }
      
    .form-popup-tag{
        display: none;
        position: fixed;
        margin-left: 30%;
        margin-right: 30%;
        align-self: center;
        top: 30%;
        align-items: center;
        border: 1px solid #1976D2;
        background-color: white;
        z-index: 9;
        width: 550px;
        overflow: auto;
    }